{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}
        <h1>Welcome to the Meeting Planner</h1>
        <p>
            This is a demo application for the course <em>Django: Getting Started</em> on Pluralsight
        </p>
        
        {% comment %} <img src="{% static 'website/75a55230f9e740c0b7436eb3c213ea02.jpg' %}" width="300px"> {% endcomment %}

        <h2>Meetings</h2>
        <ul>
            {% for meeting in meetings %}
                <li>
                    <a href="{% url 'detail' meeting.id %}">
                        {{ meeting.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        
        <h3> <a href="{% url 'rooms' %}">Click here to see a list of available rooms</a> </h3>
{% endblock content %}